@import "_mixins.less";

/* =============================================================================
   MAIN LAYOUT
   ========================================================================== */
html {
  background: #fcfcf0;
  font: normal normal 10px/1.2em 'Raleway', helvetica, arial, sans-serif;
  color: #0a6171;
  text-rendering: optimizeLegibility;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

/* =============================================================================
   BASIC STYLES
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #0a6171;
}
h3 { font-size: 3.2em; }

/* =============================================================================
   NAVIGATION
   ========================================================================== */
#menu-btn {
  position: fixed;
  right: 1em;
  top: 1em;
  box-shadow: 0px 0px 1px #000;
  color: #fff;
  background-color: rgba(0,0,0,0.85);
  padding: 0.75em;
  font-family: Raleway, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 100;
}
@media only screen and (min-width : 480px) {
  #menu-btn {
    position: fixed;
    right: 5.5em;
    top: 4em;
  }
}

/* =============================================================================
   HEADER
   ========================================================================== */
header {
  background: #d2d2d2;
}
.header-image {
  width: 100%;
  height: auto;
  position: absolute;
  transition: all 1600ms linear;
}
.header-image.header-image--last {
  position: static;
}

.header-image--large { display: none; }
@media only screen and (min-width : 480px) {
  .header-image--small { display: none; }
  .header-image--large { display: block; }
}

.header-anim-top { transform: translateY(-30%); }
.header-anim-left { transform: translateX(-50%); }
.header-anim-bottom { transform: translateY(10%); }

.logo-link, .tagline, .call-action-area .price {
  color:#fff;
  text-shadow: 1px 2px 1px rgba(0,0,0,.3);
}
.tagline {font-weight: normal;}
.call-action-area .price {color:#fddd52;}
.call-action-area .call-action-link, .btn {
  background-color: #fddd52;
  background-image: -moz-linear-gradient(top, #fddd52 30%, #f0a303 150%);
  background-image: -webkit-linear-gradient(top, #fddd52 30%, #f0a303 150%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fddd52', endColorstr='#f0a303');
  background-image: linear-gradient(top, #fddd52 30%, #f0a303 150%);
  color:#2b2b2b;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.4), inset 0 -2px 3px 0 #cc7f0a, inset 0 1px 0 0 #fff9b1;
  border-radius: 40px;
}

.github-link {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
}

.github-link img {
  border: 0;
}

/* =============================================================================
   CONTENT
   ========================================================================== */
.content a {color:#f0a303;}
.content a:hover, .content a:focus {
  color:#fddd52;
  text-decoration: underline;
}

/* =============================================================================
   LOCATION
   ========================================================================== */
.location-area {
  background: #e7e7e7;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 300px;
}

.venue-photo {
  width: 32%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

@media only screen and (min-width : 720px) {
  .location-area {
    height: 480px;
  }
  .venue-photo {
    width: 33%;
  }
}

/* =============================================================================
   SPEAKER
   ========================================================================== */
.speaker-photo .photo {
  border-radius: 50%;
  box-shadow: 0 0 0 8px rgba(10,97,113,0.4);
  .transition(all 0.3s ease-out);
}

.speech-time {
  color:#fff;
  background:#2b2b2b;
  border-radius: 8px;
}

/* =============================================================================
   SCHEDULE
   ========================================================================== */
.schedule-tbl {
  background:#fff;
  border:1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.15);
}
.schedule-tbl table {background:#fff;}
.schedule-tbl td, .schedule-tbl th {border-bottom:1px solid #e7e7e7;}
.schedule-tbl tbody tr:nth-child(2n+1) {background:#f6f6f6;}
.schedule-tbl th {color:#2b2b2b;}
.schedule-tbl .speaker-photo .photo {box-shadow: 0 0 0 1px rgba(0,0,0,.3);}
.speakers-company {color:#999;}
.schedule-slot {color:#2b2b2b;}
.schedule-tbl tbody tr:hover {background: #fffaeb;}
.schedule-coffee, .schedule-closing, .schedule-lunch, .schedule-other {color:#214f87;}

/* =============================================================================
   SPONSORS
   ========================================================================== */
.sponsor--link, .partner-link {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.15);
}
.sponsor--link:hover, .sponsor--link:focus, .partner-link:hover, .partner-link:focus {border-color: #f0a303;}

/* =============================================================================
   REGISTRATION
   ========================================================================== */

.content .registration-button {
  background: #f0a303;
  padding: 1em;
  width: 100%;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #ccc;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.1em;
  color: #fff;
}
.content .registration-button:hover,
.content .registration-button:active {
  text-decoration: none;
  color: #fff;
  opacity: 0.85;
}
.content .registration-button:active {
  box-shadow: -1px -1px 1px #ccc;
}

.registration-info {
  width: 100%;
  background: #fff;
  display: inline-block;
  vertical-align: top;
  padding: 1.5%;
  box-sizing: border-box;
  border-radius: 3px;
}

.registration-data {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  text-align: center;
  margin-bottom: 1em;
  border-radius: 9px;
  color: #475056;
  background: #f5f5f5;
  font-size: 1.8em;
  line-height: 1.6em;
  padding: 1em 0;
}

.price-table {
  width: 49%;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  padding: 1.5em 0;
}
.price-table:nth-child(even) {
  float: right;
}

.price-label {
  background-color: #f5f5f5;
  color: #475056;
  font-size: 18px;
  padding: 1em 0.5em;
  border-radius: 9px;
}

.price-label-title {
  color: #475056;
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
}

.price-value {
  color: #468384;
  font-size: 3em;
  font-weight: 600;
  padding: 1em;
}

.price-table-row {
  color: #6d7a83;
  border-top: 1px dashed #666699;
  font-size: 16px;
  padding: 1em 0.5em;
}

#registration-frame {
  display: none;
  width: 800px;
  height: 500px;
}

#registration-frame > iframe {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
}
#registration-frame > .close-button {
  height: 2em;
  width: 2em;
  float: right;
  border: 1px solid #fff;
  color: #fff;
  background-color: #0a6171;
  font-size: larger;
  margin: 4px -4px;
}

/* =============================================================================
   CONTACT
   ========================================================================== */
.form input[type=text], .form input[type=email], .form textarea{
  color: #777;
  border: 1px solid #e7e7e7;
  background: #fff;
  border-radius: 4px;
}
.form input[type=text]:focus, .form input[type=email]:focus, .form textarea:focus {border-color:#aaa;outline:0;}

.contact-links > li {
  font-size: 1.6em;
  padding-top: 0.5em;
}

@media only screen and (min-width : 480px) {
  .contact-links > li {
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
  }
}

/* =============================================================================
   FOOTER
   ========================================================================== */

footer {
  border-top: 1px dashed #666699;
  text-align: center;
  margin-top: 4em;
  padding: 4em 0;
}

/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width : 1024px) {
  .header {
    background-size: auto 100%;
  }
}
@media only screen and (max-width : 480px) {
  .registration-data,
  .price-table {
    display: block;
    margin: 0;
    width: 100%;
  }
    
  /* speakers */
  .speaker-photo .photo {box-shadow: 0 0 0 3px rgba(0,0,0,.07);}
  .speech-title {font-weight: bolder;}
  .speech-time {
    color:#2b2b2b;
    background: transparent;
    font-weight: bolder;
  }
  .github-link { display: none; }
}